#map{ 
  /* Establece el tamaño del elemento div que contiene el mapa */
  height: 400px;
  /* La altura es de 400 píxeles  */
  width: 80%;
  /* El ancho es el ancho de la página web */
}

header{
    background: #2c3e50;
    color: #fff;
    height: 70px;
}

#mapRestaurant{
  height: 400px;
  width: 400px;

}

.photoRestaurant{
  height: 400px;
  width: 400px;
}

#select{
  color:black;
  font-size: 20px;
  font-weight: bold;
  background-color: #F1C40F;
}

#title , #titleAll{
  background-color: #ffff4d
}

